@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-light: #ffffff;
  --bg-dark: #212121;
  --text-dark: #000000;
  --text-light: #ffffff;
  --input-bg-light: #f4f4f5;
  --input-bg-dark: #181818;
}

.light-theme {
  --bg-color: var(--bg-light);
  --mobile-bg-color: #527da3;
  --text-color: var(--text-dark);
  --input-bg-color: var(--input-bg-light);
  --border-color: #3390ec;
  --hover-bg: #f4f4f4;
  --placeholder-color: #a2acb4;
  --icon-color: #707579;
  --menu-hover-bg: rgba(0, 0, 0, 0.8);
  --menu-hover-text: #b2b5b7;
  --menu-hover-text-border: none;
  --item-hover: #f3f3f3;
  --primaryColor: #000000;
  --secondaryColor: #707579;
  --text-selected: var(--bg-light);
  --bgImg: url("https://w0.peakpx.com/wallpaper/220/854/HD-wallpaper-whatsapp-black-abstract-abstract-digital-abstraction-abstracts-background-digital-pattern-texture.jpg");
}

.dark-theme {
  --bg-color: var(--bg-dark);
  --mobile-bg-color: #222d3d;
  --text-color: var(--text-light);
  --input-bg-color: var(--input-bg-dark);
  --border-color: #8774e1;
  --hover-bg: #2b2b2b;
  --placeholder-color: #a2acb4;
  --icon-color: #707579;
  --menu-hover-bg: rgba(0, 0, 0, 0.8);
  --menu-hover-text: #b2b5b7;
  --menu-hover-text-border: 1px solid white;
  --item-hover: #2f2f2f;
  --primaryColor: #ffffff;
  --secondaryColor: #aaaaaa;
  --text-selected: var(--bg-dark);
  --bgImg: url("https://w0.peakpx.com/wallpaper/623/156/HD-wallpaper-whatsapp-abstract-abstract-digital-abstraction-abstracts-background-black-blue-digital-pattern-sparkle.jpg");
}


@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* Hide the scrollbar in Internet Explorer */
    scrollbar-width: none; /* Hide the scrollbar in modern browsers */
  }
}
